
.illus{
	display:block;
	background-color:black;
	background-image :url(../kraus.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	max-height: 800px;

	
}

#important{
	text-align: left;
    margin-top: 15px;
}	


html{
	box-sizing: content-box;
	margin: 0;
	padding: 0;
}

#livre
{
	/*min-height: 200px;
	min-width : 200px;*/
	max-width: 200px;
	max-height: 4000px;
}

.moove
{
	position : relative;
}

